body {
    background: yellow;
}

button {
    width: 100px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    display: inline;
    margin: 20px;
    background: cyan;
    color: black;
}